<div class="jscalc-calculator">
  <div class="jscalc-calculator-container">
    <div class="jscalc-display">
      <span class="jscalc-memory">M</span>
      <span class="jscalc-sign">–</span>
      <span class="jscalc-error">E</span>
      <output></output>
    </div>
    <div class="jscalc-keyboard">
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-memory" data-code="MR"
          title="R">MR</div>
        <div class="jscalc-key jscalc-key-memory" data-code="MS"
          title="S">MS</div>
        <div class="jscalc-key jscalc-key-memory" data-code="M+">M+</div>
        <div class="jscalc-key jscalc-key-memory" data-code="MC">MC</div>
        <div class="jscalc-key jscalc-key-operator" data-code="%"
          title="%">%</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-operator" data-code="x^2"
          title="²">x²</div>
        <div class="jscalc-key jscalc-key-operator" data-code="sqrt">√</div>
        <div class="jscalc-key jscalc-key-operator"
          data-code="^" title="^">y<sup>x</sup></div>
        <div class="jscalc-key jscalc-key-operator"
          data-code="root"><sup>x</sup>√y</div>
        <div class="jscalc-key jscalc-key-operator" data-code="1/x"
          title="\">1/x</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="7"
          title="7">7</div>
        <div class="jscalc-key jscalc-key-digit" data-code="8"
          title="8">8</div>
        <div class="jscalc-key jscalc-key-digit" data-code="9"
          title="9">9</div>
        <div class="jscalc-key jscalc-key-erase" data-code="CE"
          title="C">CE</div>
        <div class="jscalc-key jscalc-key-erase" data-code="AC"
          title="Del">AC</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="4"
          title="4">4</div>
        <div class="jscalc-key jscalc-key-digit" data-code="5"
          title="5">5</div>
        <div class="jscalc-key jscalc-key-digit" data-code="6"
          title="6">6</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="*"
          title="*">×</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="/"
          title="+">÷</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="1"
          title="1">1</div>
        <div class="jscalc-key jscalc-key-digit" data-code="2"
          title="2">2</div>
        <div class="jscalc-key jscalc-key-digit" data-code="3"
          title="3">3</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="+"
          title="+">+</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="-"
          title="-">–</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="0"
          title="0">0</div>
        <div class="jscalc-key jscalc-key-digit" data-code="+/-"
          title="#">±</div>
        <div class="jscalc-key jscalc-key-digit" data-code="."
          title="{{point}}">{{point}}</div>
        <div class="jscalc-key jscalc-key-erase" data-code="DEL"
          title="←">←</div>
        <div class="jscalc-key jscalc-key-result" data-code="="
          title="Enter">=</div>
      </div>
    </div>
  </div>
</div>

{{!-- vim:set ft=html: --}}
