<div class="jscalc-calculator">
  <div class="jscalc-calculator-container">
    <div class="jscalc-display">
      <span class="jscalc-memory">M</span>
      <span class="jscalc-sign">—</span>
      <span class="jscalc-error">E</span>
      <output></output>
    </div>
    <div class="jscalc-keyboard">
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-memory" data-code="MR">MR</div>
        <div class="jscalc-key jscalc-key-memory" data-code="MS">MS</div>
        <div class="jscalc-key jscalc-key-memory" data-code="M+">M+</div>
        <div class="jscalc-key jscalc-key-memory" data-code="MC">MC</div>
        <div class="jscalc-key jscalc-key-operator" data-code="%">%</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-operator" data-code="x^2">x²</div>
        <div class="jscalc-key jscalc-key-operator" data-code="sqrt">√</div>
        <div class="jscalc-key jscalc-key-operator" data-code="y^x">y<sup>x</sup></div>
        <div class="jscalc-key jscalc-key-operator" data-code="root">x√y</div>
        <div class="jscalc-key jscalc-key-operator" data-code="1/x">1/x</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="7">7</div>
        <div class="jscalc-key jscalc-key-digit" data-code="8">8</div>
        <div class="jscalc-key jscalc-key-digit" data-code="9">9</div>
        <div class="jscalc-key jscalc-key-erase" data-code="C">C</div>
        <div class="jscalc-key jscalc-key-erase" data-code="AC">AC</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="4">4</div>
        <div class="jscalc-key jscalc-key-digit" data-code="5">5</div>
        <div class="jscalc-key jscalc-key-digit" data-code="6">6</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="x">×</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="/">÷</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="1">1</div>
        <div class="jscalc-key jscalc-key-digit" data-code="2">2</div>
        <div class="jscalc-key jscalc-key-digit" data-code="3">3</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="+">+</div>
        <div class="jscalc-key jscalc-key-base-operator" data-code="-">—</div>
      </div>
      <div class="jscalc-row">
        <div class="jscalc-key jscalc-key-digit" data-code="0">0</div>
        <div class="jscalc-key jscalc-key-digit" data-code="+/-">±</div>
        <div class="jscalc-key jscalc-key-digit" data-code=".">{{point}}</div>
        <div class="jscalc-key jscalc-key-erase" data-code="DEL">←</div>
        <div class="jscalc-key jscalc-key-result" data-code="=">=</div>
      </div>
    </div>
  </div>
</div>

{{!-- vim:set ft=html: --}}
